@model PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    <label>Старт</label><b>@Model.start.ToShortDateString()</b><br />
    <label>Завершение</label><b>@Model.end.ToShortDateString()</b><br />
    <label>Код</label><b>@Model.Code</b><br />

</p>
@section About
    {
    @("Zap " + DateTime.Now)
}
