@page
@using CinemaLib;
@model ASP.CORE2023._10._28.Pages.DetailsModel
@{
    ViewData["Title"] = "Cinema Details";
}

@{
    if (Model.data != null)
    {
        <div class="card text-center">
            <div class="card-header">
                Информация о фильме
            </div>
            <div class="card-body">
                <h4 class="card-title text-uppercase">@Model.data.Name</h4>

                <p class="card-text"><b class="text-uppercase">Режисеры:</b> @string.Join(" ,", Model.data.Director) </p>

                <p class="card-text"><b class="text-uppercase">Жанр:</b> @string.Join(" ,", Model.data.Style) </p>

                <p class="card-text">@Model.data.Info</p>
                <p class="card-text">
                    <b class="text-uppercase">Сеансы:</b>
                </p>


                @{

                    foreach(string s in Model.data.Seances)
                    {
                        <button type="button" class="btn btn-info px-3">@s</button>
                    }
                }

                
            </div>
            <div class="card-footer text-muted">
                <a href="./" class="btn btn-primary">Назад</a>
            </div>
        </div>
    }
    else
    {
        <h3>Неверные данные</h3>
        <a href="./" class="btn btn-primary">Назад</a>
    }
}

<script>
    function back() {
        location.href = "./";
    }
</script>